// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#summary-container {
    .summary-box {
        border: 2px solid lightgray;
        padding: .5rem;

        h3 {
            font-size: 1.4rem;
        }

        .count {
            font-size: 1.2rem;
        }
    }
}
